<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://app-global.pgyer.com/617c19950bc6f4742d3f030e8a6f8057.ipa?attname=TECWallet%28%E7%B2%BE%E5%BA%A6%E6%98%BE%E7%A4%BA%E6%AD%A3%E5%BC%8F%E7%89%88%29.ipa&amp;sign=162616071d7106147dbd5f0c1586de6b&amp;t=5b3b49ff</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/XYXiaoYuan/Meilishuo/blob/master/icon57x57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/XYXiaoYuan/Meilishuo/blob/master/icon512x512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.chain.tec</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>TECWallet</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
