<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://app-global.pgyer.com/c0310d18d1d031e619400fe90ad009c6.ipa?attname=TECWallet%280706build16%E6%AD%A3%E5%BC%8F%E5%8C%85%29.ipa&sign=c69908dfcfa13b4772fd55e3b35b7aaf&t=5b432262</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/XYXiaoYuan/Meilishuo/blob/master/icon57x57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/XYXiaoYuan/Meilishuo/blob/master/icon512x512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.chain.tec</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>TECWallet</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
